<!DOCTYPE html>
<html lang = "pt-Br">
    <head>
        <meta charset=" UTF-8">
        <title>Musical</title>
    </head>
    <body>
        <h1>Musical</h1>
        <ul>
            <%musical.forEach(function(musical) {%>
                <li>
                    <a href="/musical";
                </li>
        </ul>
    </body>
</html>