<!DOCTYPE html>
<html lang="pt-Br">
    <head>
        <meta charset="UTF-8">
        <title><%= musical.nome%></title>
    </head>
    <body>
        <h1><%= musical.nome%></h1>
        <p>tipo: musical </p>
    </body>
</html>